@model IEnumerable<EntitiyLayer.Concrete.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card bg-info text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">"Yazılım" Kategorisi</h5>
        <p class="text-center">@ViewBag.value</p>
    </div>
</div>




